<div class="w-ful bg-green-600 px-6 py-4 flex justify-between" >
  <div>
      <h1 class="text-white text-xl sm:text-2xl font-bold" >EcFile</h1>
  </div>
  <div>
      <button (click)="logout()" class="border border-white hover:bg-white text-white hover:text-green-800 px-2 py-1 text-sm rounded" >Logout</button>
  </div>
</div>

<div class="flex  flex-col justify-center items-center text-green-700 mt-14 ">
    <h1 class="text-xl font-bold  font-sans pb-1 ">Welcome to EcFile! </h1>
    <p class="font-sans"> Your gateway to simplicity and convenience. Dive into a seamless experience designed just for you. Enjoy and explore!</p>
  </div>

  <div class="flex  justify-center" >
    <img class="w-1/2 h-1/2" src="assets/Programmer-amico.png" alt="">
  </div>
  